[submodule "modules/Utils"]
	path = modules/Utils
	url = https://github.com/SpectrumPro/utils
[submodule "modules/NetworkManager"]
	path = modules/NetworkManager
	url = https://github.com/SpectrumPro/networkmanager
[submodule "modules/Constellation"]
	path = modules/Constellation
	url = https://github.com/SpectrumPro/constellation
[submodule "modules/Vertex"]
	path = modules/Vertex
	url = https://github.com/spectrumpro/vertex
[submodule "modules/Axis"]
	path = modules/Axis
	url = https://github.com/spectrumpro/axis
