name: Export and Release Godot 4.4.1 Game

on:
  push:
    tags:
      - "v*"

jobs:
  export_game:
    name: Export Game
    runs-on: ubuntu-latest
    permissions: write-all

    strategy:
      matrix:
        platform: [Windows, Linux, macOS, Android]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Export game
        id: export
        uses: firebelley/godot-export@v6.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot-builds/releases/download/4.4.1-stable/Godot_v4.4.1-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot-builds/releases/download/4.4.1-stable/Godot_v4.4.1-stable_export_templates.tpz
          relative_project_path: ./
          export_platforms: ${{ matrix.platform }}
          archive_output: true  # ZIP the builds
          use_cache: true

      - name: Upload build to release
        uses: ncipollo/release-action@v1.14.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
          tag: ${{ github.ref_name }}
          artifacts: ${{ steps.export.outputs.archive_directory }}/*

