name: Build Godot 4.4.1 Project

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [Windows, Linux, macOS, Android]

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Export Godot Project
        uses: firebelley/godot-export@v4.8.1
        with:
          godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/4.4.1/Godot_v4.4.1-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/4.4.1/Godot_v4.4.1-stable_export_templates.tpz
          export_platforms: ${{ matrix.platform }}
          use_cache: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Spectrum - ${{ matrix.platform }}
          path: build/${{ matrix.platform }}

